
.dewasapverde{
    width: 100px;
    height: 30px;
    background: #00ff03;
    border-radius: 70px;
    position: relative;
    top: 35px;
    left: 30px;
    text-decoration: none;
    border: 3px solid white;
}
.deinstaverde{
    width: 100px;
    height: 30px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) ;
    border-radius: 70px;
    position: relative;
    left: 150px;
    border: 3px solid white;
}
.deinstaverde a{
    text-decoration: none;
    border: none;
    color: #000000;
    position: relative;
    top: 5px;
    left: 5px;
}
.dewasapverde a{
    text-decoration: none;
    border: none;
     color:#000000 ;
    position: relative;
    top: 5px;
    left: 5px;
}
.dewasapverde:hover{
    background: #00eaff;
}
.deinstaverde:hover{
    background: #00eaff;
}
.experienciaverde{
    padding: 5px;
    border-radius: 30px;
    width: 550px;
    height: 390px;
    position: fixed;
    top: 100px;
    background-image: radial-gradient(circle at 50% 120.71%, #ffff00 0, #fcff00 10%, #d5ff00 20%, #abff00 30%, #7bff22 40%, #3cf23c 50%, #00e34e 60%, #00d65d 70%, #00ca6b 80%, #00c17a 90%, #00ba89 100%);
    left: 60px;
}


@keyframes moverAbajo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Ajusta la cantidad de movimiento deseada */
  }
  100% {
    transform: translateY(0);
  }
}

.svege {
  animation: moverAbajo 3s ease infinite; /* Ajusta la duración y la función de tiempo según tus preferencias */
}

@keyframes moverArriba {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0);
  }
}

.svgarriba {
  animation: moverArriba 3s ease infinite; 
}

.svgarriba{
    width: 30px;
    height: 30px;
    position: relative;
    left: 260px;
    top: 10px;
}
.svege{
    width: 50px;
    height: 50px;
    position: relative;
    left: 500px;
    top: -50px;
}
.certificadosi{
    display: flex;
}
.certificadosi img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    align-content: center;
    padding: 3px;
    position: relative;
    left: 20px;
}
.certi{
    color: #00eaff;
    font-size: 30px;
    text-align: center;
}
.habi{
    color:  #00eaff;
    font-size: 30px;
    position: relative;
    top: -15px;
    left: 10px ;
}
.contenedor {
  width: 300px; /* Ancho del cuadro principal */
  height: 400px; /* Altura del cuadro principal */
  overflow: hidden; 
  background: red;/* Oculta el contenido que desborda el cuadro */
  display: flex;
}

.contenido {
  width: 100%; /* Asegura que el contenido sea del mismo ancho que el cuadro principal */
  height: auto; /* Permite que el contenido determine la altura */
  overflow-y: auto; /* Permite el desplazamiento vertical */
}
.ica{
    color: #000000;
    font-size: 15px;
    position: relative;
    left: 10px;
    
}
.icaa{
    color: #00eaff;
    font-size: 15px;
    position: relative;
    left: 5px;
}
.estudios p{
    font-size: 10px;
    color: #000000;
    position: relative;
    left: 10px;
}
.icauno{
    color: #000000;
    font-size: 15px;
    position: relative;
    top: 10px;
    left: 10px;
}
.icados{
    color: #00eaff;
    font-size: 15px;
    position: relative;
    left: 12px;
}
.icaeducacion{
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 10px;
    color: #00eaff;
}
.habilidad {
    margin-bottom: 10px;
}

.nombre-habilidad {
    font-weight: bold;
    position: relative;
    left: 10px;
    top: -20px;
}

.barra {
    background-color: #ccc;
    height: 10px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 10px;
    top: -20px;
}

.porcentaje {
    background-color: #00eaff; /* Color de la barra de llenado */
    height: 100%;
    transition: width 1s ease-in-out; /* Agrega una animación de transición */
}
