/* Estilos para dispositivos Android */
@media screen and (max-width: 480px) {
    body{
        font-size: 16px;
        
    }
    .circles{
       
    }
    .titulo{
        position: relative;
        top: 0;
        left: -220px;
        font-size: 5px;
        display: flex;
        padding: 10px;
    }
    .tituloss{
        width: 60px;
        height: 20px;
        font-size: 05px;
        
    }
    .titulosss{
        width: 60px;
        height: 20px;
       font-size: 5px;
    }
    
    .cuadro-principal{
        width: 280px;
        height: auto;
    }
    .cuadro-principaldos{
        display: none;
    }
    .autor{
        position: relative;
        top: 500px;
        left: 10px;
        text-align: center;
      
    }
    .cuadro-botones{
    
        position: fixed;
        left: -20px;
        background: transparent;
    }
.cuadro-botones img{
        display: block;
        width: 30px;
        height: 30px;
    }
    
    
 #modal{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#modal img {
    position: relative;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    z-index: 1001;
}
.modalmodal{
    width: 30px;
    height: 30px;
}

#cerrarmodal {
    background: red;
    color: white;
    position: relative;
    top: 68%;
    left: 10px;
    right: 20px;
    width: 30px;
    font-size: 24px;
    cursor: pointer;
    padding-left: 10px;
    z-index: 1002;
}

   
    
    
    
}

/* Estilos para tabletas */
@media screen and (max-width: 770px) {
    body{
        font-size: 18px;
    }
    
    
    #modal{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#modal img {
    position: relative;
    top: 50%;
    left: 50%;
    height: 250px;
    width: 300px;
    z-index: 1001;
}

#cerrarmodal {
    background: red;
    color: white;
    position: relative;
    top: 68%;
    left: 10px;
    right: 20px;
    width: 30px;
    font-size: 24px;
    cursor: pointer;
    padding-left: 10px;
    z-index: 1002;
}
 
    
 body{
        font-size: 16px;
        
    }
    .circles{
       
    }
    .titulo{
        position: relative;
        top: 0;
        left: -220px;
        font-size: 5px;
        display: flex;
        padding: 10px;
    }
    .tituloss{
        width: 60px;
        height: 20px;
        font-size: 05px;
        
    }
    .titulosss{
        width: 60px;
        height: 20px;
       font-size: 5px;
    }
    
    .cuadro-principal{
        width: 280px;
        height: auto;
    }
    .cuadro-principaldos{
        display: none;
    }
    .autor{
        position: relative;
        top: 500px;
        left: 10px;
        text-align: center;
      
    }
    .cuadro-botones{
    
        position: fixed;
        left: -20px;
        background: transparent;
    }
.cuadro-botones img{
        display: block;
        width: 30px;
        height: 30px;
    }   
    
    
    
    
    
    
    
}


